@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Press+Start+2P&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
section {
  overflow: hidden;
}
body {
  padding: 0;
}
span.highlighted {
  color: #fcd535;
  font-weight: 900;
  font-family: 'Red Hat Display',sans-serif;
}
.marginforfixed{
  margin-top: 100px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.heading h2 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
}
.heading p.subheading {
  display: inline-block;
  text-align: center;
  margin: auto 0;
  border: 2px solid;
  padding: 2px 15px;
  font-size: 16px;
  font-family: 'DM Sans',sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
}
.servicebox {
  display: flex;
  align-items: center;
  background: #ffffff20;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  border: 2px solid #fcd535;
  justify-content: space-between;
  cursor: pointer;
}
.servicebox img {
  width: 100%;
  border-radius: 50%;
  max-width: 50px;
  border: 2px solid #fcd535;
  margin-right: 10px;
}
.servicebox .serviceboxname p {
  margin: 0;
  color: #fff;
  font-family: 'Red Hat Display',sans-serif;
  margin-right: 10px;
  line-height: 1;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
.servicebox .serviceboxname p span {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  text-transform: initial;
}
.servicebox .serviceboxprice p {
  margin: 0;
  margin-left: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  text-transform: initial;
  line-height: 1;
}
.servicebox .serviceboxprice p span {
  display: block;
  margin-top: 5px;
  color: #fcd535;
  font-family: 'Red Hat Display',sans-serif;
  line-height: 1;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
.guestnav a.navbar-brand img {
  margin: 8px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #fcd535;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  box-shadow: 2px 2px 50px -10px #bd8e13;
  border: 2px solid #181a20;
  padding: 8px;
  margin: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #181a20;
  height: 3px;
  width: 25px;
  border-radius: 20px;
}
nav.navbar.guestnav.navbar-default.navbar-fixed-top {
  max-width: 1200px;
  margin: 15px auto;
  border: 2px solid #fcd535;
  border-radius: 55px;
  padding: 5px;
  background-size: cover;
}
.guestnav.navbar-default .navbar-toggle, .guestnav.navbar-default .navbar-toggle:hover, .guestnav.navbar-default .navbar-toggle:focus {
  margin: 8px;
  border-radius: 22px;
}
@media (max-width: 1200px) {
  nav.navbar.guestnav.navbar-default.navbar-fixed-top {
    margin: 15px;
    background-color: #2b3139 !important; /* Add !important to override other styles */
    background-image: none !important;   /* Ensure no image is used */
  }
}
@media(max-width: 768px){
  nav.navbar.guestnav.navbar-default.navbar-fixed-top div#navbar {
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
    background: #181a20;
    border: 2px solid #fcd535;
    max-height: fit-content;
    padding: 28px;
    border-radius: 27px;
    padding-bottom: 0;
    left: 0;
    margin: 14px;
  }
}
.firstSec {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  margin-top: -100px;
  padding-top: 200px;
}
.firstcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
span.toplabel {
  background: #181a20;
  color: #fff;
  font-weight: 700;
  padding: 6px 35px;
  border-radius: 20px;
  position: relative;
  font-size: 13px;
  border: 2px solid #fcd535;
}
.firstcont h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 3.5vw;
}
.firstcont p {
  color: #fff;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}
@media(max-width: 768px){
  .firstcont h1 {
    font-size: 9vw;
  }
}
section.secondSec {
  background: #ffffff10;
  padding: 20px;
  border-top: 2px solid #ffffff20;
  border-bottom: 2px solid #ffffff20;
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 60px -25px #000;
}
.swiper-wrapper{
  -webkit-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}
.swiper-slide {
  width: auto;
  height: auto;
  font-size: 10px;
  padding: 0 20px;
}
.swiper-slide img{
  max-width: 140px;
  opacity: 100;
}
.contclmnone .badgetop {
  background: #2b3139;
  color: #fff;
  font-weight: 400;
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid #ffffff20;
  display: inline-flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 22px 5px 5px;
}
.contclmnone .badgetop i {
  height: 30px;
  width: 30px;
  border: 1px solid #ffb800;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: #ffb82730;
}
.contclmnone h2 {
  color: #fff;
  text-align: left;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 3.5vw;
}
.contclmnone p {
  color: #ffffff99;
  font-weight: 300;
  line-height: 1.5;
}
.processflex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: auto;
  gap: 25px;
}
.processflex .processgrid {
  max-width: 23%;
  padding: 30px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: #2b3139;
  background-size: cover;
  background-position: center;
  border: 1px solid #fcd535;
  position: relative;
  border-radius: 25px;
  box-shadow: 0px 5px 80px -30px #000000;
  backdrop-filter: blur(5px);
}
.processflex .processgrid:hover h2 i {
  transform: rotate(-45deg);
}
.processflex .processgrid > i {
  color: #fcd535;
  font-size: 16px;
  height: 50px;
  width: 50px;
  border: 1px solid #ffb827;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  background: #ffb82721;
  position: absolute;
  top: 20px;
  right: 20px;
}
.processflex .processgrid:hover p {
  height: 82px;
  max-height: max-content;
}
.processflex .processgrid p {
  color: #ffffff90;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}

.processflex .processgrid h4 {
  color: #fff;
  font-weight: 600;
  margin: 0;
  margin-top: 18px;
  line-height: 1.3;
}
.processflex .processgrid h2 {
  color: #ffb800;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #fcd535;
}
.servicebox.igservicebox {
  background: url(https://i.imgur.com/1F1ZabO.png);
  background-size: cover;
  background-position: center;
}
.servicebox.tgservicebox {
  background: linear-gradient(45deg, #3ea3cd, #1d7cbd);
}
.servicebox.ytservicebox{
  background: linear-gradient(45deg, #c72929, #e54141);
}
.servicebox.fbservicebox{
  background: linear-gradient(45deg, #285cc5, #0094dd);
}
.servicebox.xservicebox{
  background: #000;
}
.servicebox.ttservicebox{
  background: #171717;
}
.text-card p {
  color: #ffffff90;
  font-weight: 300;
  line-height: 1.3;
}
.text-card h2 {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}
@media(max-width: 992px){
  .processflex .processgrid{
    max-width: 90%;
  }
  .processflex{
    flex-wrap: wrap;
  }
}
.statboxgrp .statbox p {
  color: #fff;
  margin: 0;
}
.statboxgrp .statbox h2 {
  color: #fcd535;
  font-weight: 600;
  margin: 0;
  margin-bottom: 22px;
  font-size: 38px;
}
.statboxgrp .statbox {
  background: #ffffff20;
  display: block;
  border: 1px solid #fcd535;
  padding: 15px 30px;
  width: 48%;
  border-radius: 20px;
  position: relative;
}
.statboxgrp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 562px){
  .statboxgrp .statbox {
    width: 100%;
  }
section.tenthSec {
  padding: 50px 0;
}
.heading h2 {
  font-weight: 400;
}
.heading p.subheading {
  background: #ffffff20;
  border: 1px solid #ffffff20;
  padding: 4px 20px;
  border-radius: 20px;
  font-weight: 100;
  font-size: 14px;
}
img.footerimg {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 20px auto;
}
footer.footer {
  background: url(https://i.imgur.com/JqxbzPi.png);
  background-position: right;
  background-size: cover;
  background-color: #000;
  padding: 20px 20px;
  border-top: 1px solid #ffffff20;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -10px 85px -20px #ffb82717;
  margin-bottom: -2px;
}
button#topgoTo {
  display: block;
  position: fixed;
  bottom: -60px;
  left: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffb827;
  color: black;
  cursor: pointer;
  padding: 11px;
  height: 50px;
  width: 50px;
  border-radius: 36px;
  transition: all 0.5s ease-in-out;
}
.text-card {
  background: #ffffff20;
  padding: 18px;
  border: 1px solid #ffffff20;
  border-radius: 20px;
  margin: 15px 0;
}
.text-card i {
  border: 2px solid #fcd535;
  background: #fcd535 !important;
  box-shadow: 0px 1.18245px 2.3649px 0px #ffb800, 0px 0px 0px 1.18245px #bd8e13, #000000 5px 5px 60px -10px;
  border-radius: 35px;
  font-weight: 600;
  color: #000 !important;
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 1px 1px white;
}
span.toplabel span.badge {
  position: absolute;
  top: -12px;
  right: -10px;
  background: url(https://i.imgur.com/IpFMG3o.png);
  background-size: cover;
  transform: rotate(18deg);
  color: #000;
  border: 2px solid #000;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Testimonial */
section.ninthSec {
  padding: 50px 0;
}
.testimonial-card .testimonial-footer p {
  color: #fff;
  margin: 0;
}
.testimonial-card .testimonial-footer h4 {
  color: #fcd535;
  font-weight: 700;
  margin: 0;
}
.testimonial-card .testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.testimonial-card .testimonial-footer img {
  border-radius: 40px;
  width: 50px;
  margin-right: 10px;
}
.testimonial-card .testimonial-body {
  color: #fff;
  margin-bottom: 20px;
}
.testimonial-card {
  background-color: #ffffff20;
  padding: 25px;
  border-radius: 20px;
  background-image: url(https://i.imgur.com/7SGP4WF.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  border: 1px solid #fcd535;
  margin: 20px 0;
}
.signinbtmbtngrp {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.signinbtmbtngrp a {
  border: 3px solid #122030;
  background: radial-gradient(42.73% 42.73% at 50% 96.36%, #fcd535 0%, #fcd535 100%), #ffb800 !important;
  background-size: 100% 100%;
  box-shadow: 0px 1.18245px 2.3649px 0px #ffb800, 0px 0px 0px 1.18245px #bd8e13, #000000 5px 5px 60px -10px;
  border-radius: 20px;
  font-weight: 600;
  color: #000 !important;
  padding: 10px 20px;
  font-weight: 800;
  text-decoration: none;
}
   body {
  background: #181a20; /* Background color */
  margin: 0;
  font-size: 15px;
}
 .sixthsec {
    padding: 0;
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }